@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter, sans-serif;
}

/*--------------------------
    Navbar Section Style
----------------------------*/

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: inter, sans-serif;
    overflow: hidden;
}

.logo img {
    width: 80px;
    height: 40px;
    padding: 5px;
}

.logo img:hover {
    width: 80px;
    height: 40px;
    padding: 5px;
    cursor: pointer;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu ul li {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu ul li a {
    text-decoration: none;
    text-align: center;
    font-size: 22px;
    padding: 5px;
    color: #27ac60;
    transition: 0.3s;
}

.menu ul li:hover a {
    text-decoration: none;
    font-size: 22px;
    color: black;
    background-color: #27ac60;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.icon {
    margin-right: 5px;
    padding: 10px;
}

.icon .fa-solid {
    margin-left: 10px;
    padding: 10px;
    background-color: #e7e8e5;
    border-radius: 50%;
    transition: 0.3s;
}

.icon .fa-solid:hover {
    margin-left: 10px;
    padding: 10px;
    background-color: #e7e8e5;
    border-radius: 50%;
    cursor: pointer;
    background-color: #27ac60;
}

.icon .fa-heart:hover {
    color: #f64237;
}

/*--------------------------
    Banner Section Style
----------------------------*/

.banner-element {
    margin: 120px 20px 0;
    display: flex;
    flex: 1, 50%;
    justify-content: space-around;
    align-items: center;
}

h3 {
    color: #1a2b4e;
    margin: 20px 0;
}


.banner-text h2 {
    color: #27ac60;
    font-size: 46px;
    margin: 20px 0 20px;
}

.text {
    color: #989898;
    margin: 20px 0 20px;
}

.banner-img {
    width: 670px;
}

button {
    background-color: #27ac60;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
    border: 1px solid #27ac61c4;
}

button:hover {
    background-color: #27ac61c4;
    border-radius: 5px;
    color: #fff;
    padding: 8px 14px;
    font-size: 22px;
    cursor: pointer;
}

/*--------------------------
    Card Section Style
----------------------------*/

.heading {
    text-align: center;
    margin: 120px 20px 10px;
}

.heading h2 {
    color: #04aa6d;
    font-size: 32px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 120px;
}

div.gallery {
    border: 1px solid #ccc;
    width: 280px;
    border-radius: 10px;
    background-color: #f1f1f1;
    transition: 0.3s;
    position: relative;
}

div.gallery:hover {
    border: 1px solid #777;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

div.gallery img {
    width: 100%;
    height: 200px;
    opacity: 0.8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

div.gallery img:hover {
    opacity: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.heart-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fbfef3a9;
    padding: 5px;
    border-radius: 50%;
}

.heart-logo .fa-heart {
    color: #f64237;
    font-size: 30px;
    padding: 5px;
    border-radius: 50%;
}

div.desc {
    padding: 15px;
}

div.desc p {
    margin: 10px 0;
    text-align: justify;
}

.fontawesome {
    display: flex;
    align-items: center;
}

.fontawesome .fa-solid {
    color: #04aa6d;
}

.gallery span {
    color: #04aa6d;
    font-size: 22px;
}

.btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*--------------------------
    Customer Review Section Style
----------------------------*/

.customer-review {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: space-around;
    animation: marquee 50s linear infinite;
    animation-play-state: running;
}

@keyframes marquee {
    0% {
        transform: translate3d(0%, 0, 0);
    }

    100% {
        transform: translate3d(-50%, 0, 0);
    }
}

.customer-review-card {
    border: 1px solid #cbcbcb;
    width: 280px;
    border-radius: 10px;
    background-color: #f1f1f1;
    padding: 20px;
    transition: 0.3s;
}

.customer-review-card:hover {
    border: 1px solid #cbcbcb;
    width: 280px;
    border-radius: 4px;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.customer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.customer-img img {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.quotation .fa-quote-right {
    font-size: 40px;
    color: #cbcbcb;
}

/*------------------------------
    Services Section Style
-----------------------------*/

.food-service{
    margin: 20px;
    background-color: #04aa6d27;
}

.service-care{
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.services{
    text-align: center;
}

.services img{
    width: 100px;
    height: 100px;
    background-color: #fff;
}

/*------------------------------
    Contact Section Style
-----------------------------*/

.contact{
    margin: 120px 20px;
}

.let-talk{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(rgba(173, 216, 230, 0.856), rgba(0, 0, 139, 0.712));
    padding: 40px 0;
}

.connect h5{
    color: #ffb413;
}

.connect h1{
    font-weight: 800;
}

/*------------------------------
    Order Form Section Style
-----------------------------*/

.order-form {
    margin-bottom: 120px;
}

.form-container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
    flex-direction: row;
    background: #f6f6f6;
    border-radius: 0 0 5px 5px;
    padding: 25px;
}

form {
    flex: 4;
}

.Yorder {
    flex: 2;
}

.title {
    background: -moz-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: -ms-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: -o-linear-gradient(top left, #5195A8 0%, #70EAFF 100%);
    background: linear-gradient(to bottom right, #5195A8 0%, #70EAFF 100%);
    border-radius: 5px 5px 0 0;
    padding: 20px;
    color: #f6f6f6;
}

.title h2 {
    margin: 0 auto;
    text-align: center;
}

.required {
    color: red;
}

label,
table {
    display: block;
    margin: 15px;
}

label>span {
    float: left;
    width: 25%;
    margin-top: 12px;
    padding-right: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 70%;
    height: 30px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #dadada;
    color: #888;
}

.Yorder {
    margin-top: 15px;
    height: 600px;
    padding: 20px;
    border: 1px solid #dadada;
}

table {
    margin: 0;
    padding: 0;
}

th {
    border-bottom: 1px solid #dadada;
    padding: 10px 0;
}

tr>td:nth-child(1) {
    text-align: left;
    color: #2d2d2a;
}

tr>td:nth-child(2) {
    text-align: right;
    color: #52ad9c;
}

td {
    border-bottom: 1px solid #dadada;
    padding: 25px 25px 25px 0;
}

.Yorder>div {
    padding: 15px 0;
}

/*------------------------------
    Big Footer Section Style
-----------------------------*/

.footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.822);
    box-shadow: 15px rgba(0, 0, 0, 0.8);
}

.links li {
    list-style: none;
}

.links li a {
    text-decoration: none;
    color: #757586;
}

.food-taste p,
div {
    padding-top: 10px;
}

.food-taste-icon .fa-brands {
    padding: 10px;
}

.menu-links ul {
    padding-top: 10px;
}

.menu-links ul li {
    line-height: 140%;
}

.contact .p {
    margin-top: 10px;
}

.contact p {
    padding: 5px;
}

.cp-text {
    color: rgba(0, 0, 0, .7);
    text-shadow: 0 1px rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 10px;
    background-color: #04aa6d;
}